.ss01 {
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}

.ss03 {
  -moz-font-feature-settings: "ss03";
  -webkit-font-feature-settings: "ss03";
  font-feature-settings: "ss03";
}

.ss04 {
  -moz-font-feature-settings: "ss04";
  -webkit-font-feature-settings: "ss04";
  font-feature-settings: "ss04";
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 100;
  src: url("./../fonts/iransans/regular/IRANSansXFaNum-Regular.woff") format("woff"),
    url("./../fonts/iransans/regular/IRANSansXFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 200;
  src: url("./../fonts/iransans/regular/IRANSansXFaNum-Regular.woff")
      format("woff"),
    url("./../fonts/iransans/regular/IRANSansXFaNum-Regular.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 300;
  src: url("./../fonts/iransans/regular/IRANSansXFaNum-Regular.woff") format("woff"),
    url("./../fonts/iransans/regular/IRANSansXFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 500;
  src: url("./../fonts/iransans/regular/IRANSansXFaNum-Medium.woff") format("woff"),
    url("./../fonts/iransans/regular/IRANSansXFaNum-Medium.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 600;
  src: url("./../fonts/iransans/regular/IRANSansXFaNum-Medium.woff") format("woff"),
    url("./../fonts/iransans/regular/IRANSansXFaNum-Medium.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 800;
  src: url("./../fonts/iransans/regular/IRANSansXFaNum-Bold.woff")
      format("woff"),
    url("./../fonts/iransans/regular/IRANSansXFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 900;
  src: url("./../fonts/iransans/regular/IRANSansXFaNum-Bold.woff") format("woff"),
    url("./../fonts/iransans/regular/IRANSansXFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 950;
  src: url("./../fonts/iransans/regular/IRANSansXFaNum-Bold.woff")
      format("woff"),
    url("./../fonts/iransans/regular/IRANSansXFaNum-Bold.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 1000;
  src: url("./../fonts/iransans/regular/IRANSansXFaNum-Bold.woff") format("woff"),
    url("./../fonts/iransans/regular/IRANSansXFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: bold;
  src: url("./../fonts/iransans/regular/IRANSansXFaNum-Bold.woff") format("woff"),
    url("./../fonts/iransans/regular/IRANSansXFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/iransans/regular/IRANSansXFaNum-Regular.woff") format("woff"),
    url("./../fonts/iransans/regular/IRANSansXFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: normal;
  src: url("./../fonts/iransans/regular/IRANSansXFaNum-Regular.woff") format("woff"),
    url("./../fonts/iransans/regular/IRANSansXFaNum-Regular.woff2") format("woff2");
}

/* -----------------------------Dot4----------------------------- */

@font-face {
  font-family: IRANSansXDot4;
  font-style: normal;
  font-weight: 100;
  src: url("./../fonts/iransans/dot4/IRANSansXFaNum-RegularD4.woff") format("woff"),
    url("./../fonts/iransans/dot4/IRANSansXFaNum-RegularD4.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXDot4;
  font-style: normal;
  font-weight: 200;
  src: url("./../fonts/iransans/dot4/IRANSansXFaNum-RegularD4.woff")
      format("woff"),
    url("./../fonts/iransans/dot4/IRANSansXFaNum-RegularD4.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXDot4;
  font-style: normal;
  font-weight: 300;
  src: url("./../fonts/iransans/dot4/IRANSansXFaNum-RegularD4.woff") format("woff"),
    url("./../fonts/iransans/dot4/IRANSansXFaNum-RegularD4.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXDot4;
  font-style: normal;
  font-weight: 500;
  src: url("./../fonts/iransans/dot4/IRANSansXFaNum-RegularD4.woff") format("woff"),
    url("./../fonts/iransans/dot4/IRANSansXFaNum-RegularD4.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXDot4;
  font-style: normal;
  font-weight: 600;
  src: url("./../fonts/iransans/dot4/IRANSansXFaNum-BoldD4.woff") format("woff"),
    url("./../fonts/iransans/dot4/IRANSansXFaNum-BoldD4.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXDot4;
  font-style: normal;
  font-weight: 800;
  src: url("./../fonts/iransans/dot4/IRANSansXFaNum-BoldD4.woff") format("woff"),
    url("./../fonts/iransans/dot4/IRANSansXFaNum-BoldD4.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXDot4;
  font-style: normal;
  font-weight: 900;
  src: url("./../fonts/iransans/dot4/IRANSansXFaNum-BoldD4.woff") format("woff"),
    url("./../fonts/iransans/dot4/IRANSansXFaNum-BoldD4.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXDot4;
  font-style: normal;
  font-weight: 950;
  src: url("./../fonts/iransans/dot4/IRANSansXFaNum-BoldD4.woff")
      format("woff"),
    url("./../fonts/iransans/dot4/IRANSansXFaNum-BoldD4.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXDot4;
  font-style: normal;
  font-weight: 1000;
  src: url("./../fonts/iransans/dot4/IRANSansXFaNum-BoldD4.woff") format("woff"),
    url("./../fonts/iransans/dot4/IRANSansXFaNum-BoldD4.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXDot4;
  font-style: normal;
  font-weight: bold;
  src: url("./../fonts/iransans/dot4/IRANSansXFaNum-BoldD4.woff") format("woff"),
    url("./../fonts/iransans/dot4/IRANSansXFaNum-BoldD4.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXDot4;
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/iransans/dot4/IRANSansXFaNum-RegularD4.woff") format("woff"),
    url("./../fonts/iransans/dot4/IRANSansXFaNum-RegularD4.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXDot4;
  font-style: normal;
  font-weight: normal;
  src: url("./../fonts/iransans/dot4/IRANSansXFaNum-RegularD4.woff") format("woff"),
    url("./../fonts/iransans/dot4/IRANSansXFaNum-RegularD4.woff2") format("woff2");
}
